* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    background-color: #f4f6f9;
}

/* Sidebar */
.sidebar {
    width: 220px;
    height: 100vh;
    background-color: #8ebf32db;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 18px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

.sidebar ul li a:hover {
    color: #d7e8ab;
}

/* Main */
.main {
    flex: 1;
    padding: 30px;
}


















.topbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.user-menu {
    position: relative;
}

.user-trigger {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.perfil-img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.dropdown {
    position: absolute;
    top: 50px;
    right: 0;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    min-width: 160px;
    z-index: 1000;
}

.dropdown a {
    padding: 12px;
    text-decoration: none;
    color: #333;
}

.dropdown a:hover {
    background: #f4f6f9;
}

/* clase activa */
.dropdown.active {
    display: flex;
}

















.negocio-nombre {
    margin-bottom: 30px;
    color: #6da123;
}

/* Cards */
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.08);
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    margin-bottom: 10px;
    color: rgba(128, 175, 41, 0.859);
}

.card p {
    font-size: 28px;
    font-weight: bold;
}